body {
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding: 2.5rem 1rem !important;
}

.nav-link {
  color: #000;
  font-weight: 400;
  padding: 0.5rem 1.5rem !important;
  font-size: 1.1rem !important;
}

.nav-link:hover {
  color: #444;
}

.connectButton {
  background: #111;
  background: radial-gradient(circle farthest-corner at center center, #000 0%, #111 100%);
  color: #fff;  
  border-radius: 40px;
  font-weight: 300;
  padding: 0.5rem 1.5rem !important;
}

.connectButton:hover {
  background: #444;
  background: radial-gradient(circle farthest-corner at center center, #000 0%, #222 100%);
  color: #fff;  
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 1.5rem 1rem;
  margin: 0.425rem 0 0 !important;
  font-size: 1.0rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px none !important;
  border-radius:5px !important;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.homeWelcome {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.homeWelcome h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #000;
  background: #3247D1;
  background: radial-gradient(circle farthest-corner at center center, #3247D1 0%, #32B5CF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homeWelcome h1 span {
  color: #000;
  background: #000;
  background: radial-gradient(circle farthest-corner at center center, #000 0%, #111 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300
}

.homeDesc {
  font-size: 1.5rem;
  font-weight: 300;
  color: #969696;
  margin: 2rem 0;
}

@media (max-width: 768px) {
  .homeWelcome h1 {
    font-size: 3rem;
  }

  .homeDesc {
    font-size: 1.2rem;
  }
}

.btn-dark {
  color: #fff;
  background-color: #000 !important;
  border-color: #000 !important;
}

.btn {
  border-radius: 40px !important;
}